# Operating System Files
# ======================
# macOS
.DS_Store

# Python Bytecode
# ===============
__pycache__/
*.py[cod]

# Virtual Environments
# =====================
rag_env/

# .env File
# =========
.env

# Jupyter Notebook
# ================
.ipynb_checkpoints/

# IDE Files
# =========
# VSCode
.vscode/
*.code-workspace